<%- include("header") -%>

<h1 class="abt-title">About</h1>

<h3>Hello, my name is Max and I created this website as part of the Complete Full Stack Development Bootcamp on Udemy, taught by Angela Yu.</h3>

<h3>Here, you are able to create to-do lists and use them as you need. To create a list, simply add a title replacing "about" on the URL</h3>

<h3>As of August 18, 2023, this website is currently under development for an expansion.</h3>

<%- include("footer") -%>
