<%- include("header") -%>

<h1 class="abt-title">About</h1>

<h3>Hello, my name is Maxine and I created this website as part of the Complete Full Stack Development Bootcamp on Udemy, taught by Angela Yu.</h3>

<h3>Here, you are able to create to-do lists and use them as you need. To create a list, add a title replacing "about" on the URL. This will take you to a newly created list.</h3>

<h3>Further instructions on how to use this app are included in the README file at the repository.</h3>

<%- include("footer") -%>
